@tailwind components;

@layer components {
  #root {
    @apply h-full;
  }

  /* LINKS */
  .link {
    @apply text-base font-medium text-gray-500 cursor-pointer hover:text-primary;
  }

  /* GEOMETRY */
  .point {
    @apply w-4 h-4 p-2 mt-2 rounded-full;
  }

  .swiper-gradient {
    background: rgb(85, 85, 85);
    background: linear-gradient(
      180deg,
      rgba(85, 85, 85, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }

  .swiper.swiper-initialized.swiper-horizontal {
    padding-bottom: 37px;
  }
}
